<h1 class="text-center mb-5">Períodos Cadastrados</h1>

<% if @periods.any? %>
  <ul class="period-list">
    <% @periods.each do |p| %>
      <li>
        <%= link_to "#{p.name.capitalize} (#{p.start_year} - #{p.end_year})", p %>
      </li>
    <% end %>
  </ul>
<% else%>
  <p class="text-center mb-5">Nenhum instrumento cadastrado</p>
<% end %>
<div class="text-center mb-5">
  <%= link_to 'Cadastrar novo período', new_period_path, 
              class: 'btn btn-outline-success btn-sm' %>
</div>