<div class="container w-50">
  <h1 class="text-center mb-5">
    Cadastro de <%= Period.model_name.human.downcase %>
  </h1>

  <div class="text-center mb-5">
    <%= render partial: 'shared/error_messages',
               locals: { resource: @period } %>
  </div>
  
  <%= turbo_frame_tag @period do %>
    <%= render partial: 'form', locals: { period: @period } %>
  <% end %>
</div>