<h1 class="text-center mb-5"><%= Composer.model_name.human(count: :other) %> Cadastrados</h1>

<% if @composers.any? %>
  <ul class="composer-list">
    <% @composers.each do |c| %>
      <li>
        <%= link_to c.name.titleize, c %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-center mb-5">Nenhum <%= Composer.model_name.human.downcase %> cadastrado</p>
<% end %>

<div class="text-center mb-5">
  <%= link_to 'Cadastrar novo compositor', new_composer_path,
              class: 'btn btn-outline-success btn-sm' %>
</div>