<% if resource.errors.any? %>
  <div>
    <ul class="alert alert-warning" style="list-style: none">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %> 