<div class="row">
  <%= link_to instrument.name.capitalize, instrument, class: 'col-6 text-start'%>
  <div class="col-6 text-end">
    <%= link_to t('helpers.edit'),
                  edit_instrument_path(instrument) %>
  </div>
</div>
