<%= turbo_stream.append 'instruments' do %>
  <li class="instrument-list--item">
    <%= render @instrument %>
  </li>
<% end %>

<%= turbo_stream.update Instrument.new, '' %>

<%= turbo_stream.append "flash", partial: "layouts/flash" %>