<div class="container w-50">
  <h1 class="text-center mb-5">Edição de <%= Instrument.model_name.human.downcase %></h1>

  <div class="text-center mb-5">
    <%= render partial: 'shared/error_messages',
               locals: { resource: @instrument } %>
  </div>

  <%= turbo_frame_tag @instrument do %>
    <%= render partial: 'form', locals: { instrument: @instrument } %>
  <% end %>
</div>