<h1 class="text-center mb-5">
  <%= Instrument.model_name.human(count: :other) %> Cadastrados
</h1>

<% if @instruments.any? %>
  <ul class="instrument-list">
    <% @instruments.each do |i| %>
      <li><%= link_to i.name.capitalize, i %></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-center mb-5">
    Nenhum <%= Instrument.model_name.human.downcase %> cadastrado
  </p>
<% end %>
<div class="text-center mb-5">
  <%= link_to t('.new'), new_instrument_path,
              class: 'btn btn-outline-success btn-sm' %>
</div>