<div class="container w-50">
  <h1 class="text-center mb-5">
    Cadastro de <%= Instrument.model_name.human.downcase %> 
  </h1>


  <%= turbo_frame_tag @instrument do %>
    <%= render partial: 'form', locals: { instrument: @instrument } %> 
  <% end %>

  <div class="text-center">
    <%= link_to t('helpers.back'), instruments_path %>
  </div>
</div>