<div data-controller="autohide">
  <% flash.each do |key, value| %>
    <% if key == "alert" %>
      <div id="alert" class="alert alert-warning flash text-center" role="alert">
        <%= value %>
      </div>
    <% elsif key == "notice" %>
      <div id ="notice" class="alert alert-success flash text-center" role="alert">
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>

